
$inter: "Inter", sans-serif;
$sofia: "Sofia Pro", sans-serif;


$primary: #4991B8;
$primary-100: #DDEFF8;



$tab-ative: #979797;



$heading-size: (
  "one": 36px,
  "two": 32px,
  "three": 24px,
  "four": 20px,
  "five": 16px,
);

$heading-line-height: (
  "one": 59px,
  "two": 40px,
  "three": 30px,
  "four": 25px,
  "five": 25px,
);

$body-tiny: 12px;
$body-big: 24px;
$body-lineheight-big: 30px;
$body-medium: 20px;
$body-lineheight-medium: 25px;
$body-base: 16px;
$body-base-small: 15px;
$body-lineheight-base: 25px;
$body-lineheight-tiny: 1.5em;
$quote: 20px;
$quote-lineheight: 46px;
$list-size: 20px;
$list-lineheight: 50px;
$header-size: 30px;
$smaller-header: 24px;
$bigger-title-size: 18px;
$content-font-size: 0.813rem;

$button-gemnote--medium-font-size: 1rem;

$container-size1-side-margins: 50px;
$container-size2-side-margins: 30px;

$dropdown-vert-margin: 25px;

$row-margin: 20px;
$col-margin: 30px;
$nav-margin: 15px;

$top-login-margin: 150px;


$regular-top-margin: 4rem;


$top-margin: 110px;

$button-margin: 20px;

$component-hmargin: 40px;


$loved-boxshadow: 4px 7px 16px 0px rgba(0, 0, 0, 0.13);


$heading-weights: (
  "regular": 400,
  "bold": 700,
);
